body{
  font-family:Helvetica, 
              "Microsoft YaHei",SimHei,
              STXihei,
              serif;
  background-color:#fafafa;
}
h1,h2,h3{
  color:#e8410d;
}
h4 small{
  color:#aaa;
}

.media-heading{
	color:#e8410d;
	font-size: 22px;
}
.col-sm-10{
	font-size: 16px;
	color:#000000;
}

.navbar-default{
  background-color: #e8410d;
}

.navbar-default .navbar-brand{
  color: #fff;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  color: #333;
}
.navbar-header > a:hover,
.navbar-header > a:focus{
  color: #333;
}
.navbar-toggle span{
  color: #fff;
}
.brief-intro{
  color:#aaa;
}

.pjt-list{
  padding-bottom: 10px;
  border-bottom: 1px solid #e8410d;
}


.dl-horizontal dt{
  color: #e8410d;
}
.dl-horizontal a, dd{
  color: #888;
}

.footer {
  /*text-align: center;*/
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}
.footer p{
  line-height: 10px;
  color: #bbb;
}
.footer a{
  color: #bbb;
}
.phone{
  font-size: 28px;
  /*text-align: left;*/
}

/* login {START} */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* login {END} */

/* Form {START} */
.form-group label{
  color: #e8410d;
}

/* Form {END} */
